@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: #273142;
    height: 70px;
    color: #fff;
    padding: 2rem;
}

.form-control {
    width: 100%;
    position: relative;
    border-radius: 19px;
    background-color: #323d4e;
    border: 0.6px solid rgba(207, 207, 207, 0.11);
    box-sizing: border-box;
    height: 38px;
    color: #fff;
}

.btn {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    //position: relative;
    text-align: center;
    //padding: 10rem;
    //height: 40px;
    
}

