@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

@layer base {
    @font-face {
        font-family: 'New Super Mario Font U', sans-serif;
        font-style: normal;
        font-display: swap;
        src: url(https://fonts.cdnfonts.com/css/new-super-mario-font-u);
    }
}

.link {
    @apply text-white block p-5 font-bold hover:text-yellow-500
}

.dot {
    @apply h-3 w-3 bg-blue-600 rounded-full
}

.boton {
    @apply xl:text-2xl my-4 inline-block py-2 px-16 bg-red-500 text-white font-black border-transparent border-8 hover:border-gray-200 hover:bg-white hover:text-black transition duration-200 
}

.arrow {
    @apply w-4 h-4 inline-block border-yellow-300 border-solid border-t-[5px] border-r-[5px] transition-all transform rotate-45
}

.arrow-group {
    @apply group-hover:border-red-500 xl:group-hover:ml-4
}

.card {
    @apply text-center bg-white 2xl:w-5/6 mx-auto rounded-2xl overflow-hidden xl:w-4/5
}